<div class="container-fluid">
	
	{% if error %}
		{% if resp %}
			<div class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
				<ul>
					{% for key, item in resp if item[0] %}
						<li>{{ key }} is {{ item[1] }}</li>
					{% endfor %}
				</ul>
			</div>		
		{% else %}	
		<div class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{errorDescription}}
		</div>
		{% endif %}
	{% endif %}

	{% include "@PackR/header-row.twig.html" %}

	{% include form %}
	
	{% include "@PackR/footer-row.twig.html" %}

</div>